@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500;600;700&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: #808080;
    color: #f6f0f0; 
}

 /**main index**/
 .main{
    background-color: #808080;
    text-align: center;
    margin-bottom: 5rem;
      
}

 .seccionUno{
    /*display: flex;*/
    height: 90vh;
    background-image: url(../assets/img/art_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 3rem;


}
.seccionUno h1{
    font-size: 5rem;
    font-weight: bolder;
    color: #474747;
    margin: 5rem;
    
}

.seccionUno h2{
    font-weight: bolder;
    color: #474747;
    margin-bottom: 5rem;
}
.seccionUno p{
    color: #474747;
    text-align: center;
    font-weight: bolder;

}
.card a{
    text-decoration: none;
    font-family: inherit;
    font-weight: bold;
    font-size: xx-large;
    color: #808080;
}
.card-group{
    column-gap: 10px;
    border:10px #808080; 
}

.card{
    font-family: inherit;
    font-weight: normal;
    font-size: large;
    color: #808080;
}

.card-img-top{
    column-gap: 20px;
    width: 100%;
    height: 60%;
    object-fit: cover;
    border: black 30px;
}
/*bio*/
.izquierda{
    height: 80vh;
    background-image: url(../assets/img/retrato_bio1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid #f6f0f0;

}   

.derecha{
    height: 80vh;
    background-color: rgb(51, 50, 50);
    border: 3px solid #f6f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.seccionGaleria{
    width: 90%;
    margin:0 auto;
    height: 85vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border:0.5px solid gray;
}

.seccionGaleria img{
    width: 0px;
    height:100%;
    flex-grow: 1;/*que dentro de la caja flexible ocupe todo el espacio que pueda*/
    object-fit: cover;
    opacity: 0.8;
    transition: .5s ease;
}

.seccionGaleria img:hover{
    width: 30%;
    opacity: 1;
    filter:contrast(120%);
}
/** footer**/

 .footer{
    background-color:grey;
    text-align: center;
 }

.redes{
    color: #f6f0f0;
    text-decoration: none;
}


@media screen and (max-width: 768px){
    .seccionGaleria{
        flex-wrap: wrap;
    }
    .seccionGaleria img{
        height: 80%;
    }
    .seccionGaleria img:hover{
        width: 70%;
        
    }
}


























/**.colorFondo{
    background-color: #808080;
    
}
.listaNavegacion {
    list-style: none;
    font-weight: 200;
}
.linkNav{
    color: #f6f0f0;
    text-decoration: none;
}
.fondoImagen{
    background-color: #808080;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.tituloPrincipal{
    font-size: 3rem;
    text-align: center;
}

.icon{
    color: #f6f0f0;
    text-align: center;
}
.titulosGaleria{
    color: #f6f0f0;
    text-align: center;
}
.titulos{
    text-align: center;
}
h1{
    color: #f6f0f0;

}

p{ 
 color: #f6f0f0;
}**/