@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500;600;700&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: #808080;
    color: #f6f0f0; 
}

.cabecera{
    height: 100vh;
    background-image: url("../assets/img/Sin\ título-1.webp");/**editar merjor la imagen - va a ir otra - buscar una que vaya con degradado para probar**/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }
/** estilos logo**/
.contenedorLogo{
    width: 15%;
    display: inline-block;
      
}

.logo{
    width: 70%;
}
/** estilos navegación**/
.navegacion{
    display: inline-block;
    width: 50%;
    text-align: right;
    margin-left: 30%;
}

.listaItem{
    list-style: none;
    display: inline-block;
    padding-left: 30px;
    padding-top: 0;
    
}
.linkNav{
    text-decoration: none;
    color: #f6f0f0;
}

.contenedorHeader{
    margin:0 auto;
    margin-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

 /**main**/

 .main{
    background-color: grey;
    text-align: center;
    
    
}
.tarjetasGaleria{
    text-align: center;
    display: inline-block;
}

.tarjetasGaleria h2{
    font-size: 2rem;
    padding-top: 10px;
}

.card{
    width: 30%;
    display: inline-block;
    padding-left: 10px;
}

/** footer**/

 .footer{
    background-color:grey;
    text-align: center;
 }

.redes{
    color: #f6f0f0;
    text-decoration: none;
}
































/**.colorFondo{
    background-color: #808080;
    
}
.listaNavegacion {
    list-style: none;
    font-weight: 200;
}
.linkNav{
    color: #f6f0f0;
    text-decoration: none;
}
.fondoImagen{
    background-color: #808080;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.tituloPrincipal{
    font-size: 3rem;
    text-align: center;
}

.icon{
    color: #f6f0f0;
    text-align: center;
}
.titulosGaleria{
    color: #f6f0f0;
    text-align: center;
}
.titulos{
    text-align: center;
}
h1{
    color: #f6f0f0;

}

p{ 
 color: #f6f0f0;
}**/